[submodule "micropython"]
	path = fw/micropython
	url = https://github.com/micropython/micropython
[submodule "lib/lv_binding_micropython"]
	path = fw/modules/lvgl/lv_binding_micropython
	url = https://github.com/lvgl/lv_binding_micropython
[submodule "lib/esp-idf"]
	path = fw/lib/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "modules/lcd_binding_micropython"]
	path = fw/modules/lcd_binding_micropython
	url = git@github.com:jmgrosen/lcd_binding_micropython
